.chess-piece {
    touch-action: none;

    &--active {
        cursor: grab;
    }

    &--dragging {
        cursor: grabbing;
    }

    &--capture {
        cursor: pointer;
    }
}

@mixin checkeredColors($attribute) {
    &--white {
        #{$attribute}: var(--tile-white)
    }

    &--black {
        #{$attribute}: var(--tile-black)
    }
}

@mixin tileSize($size, $padding) {
    width: $size;
    height: $size;
    padding: $padding;
}

.chess-tile {
    @include checkeredColors(background-color);
    @include tileSize(1em, .1em);

    &--last-move {
        background-color: var(--move-color);
    }

    &--capture {
        background-color: var(--piece-color-black);
    }

    &__coord {
        @include checkeredColors(color);
        font-size: .3em;
        line-height: 1.1em;
    }
}

.ranks {
    position: absolute;
    transform: translateY(-100%);

    &__chess-tile {
        @include tileSize(1.1em, .05em);
    }
}

.files {
    position: absolute;
    transform: translateY(-100%);
    display: flex;

    &__chess-tile {
        @include tileSize(1.1em, .05em);
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.promotion-menu {
    position: fixed;
    padding: 1em;
    background-color: var(--bg2-color);
    border-radius: 1em;
    right: 1em;
    top: 50vh;
    transform: translateY(-50%);
}

.game-wrapper {
    grid-column: 2;
    justify-self: center;
}

.panel-wrapper {
    background-color: var(--bg2-color);
    padding: 1em;
    border-radius: 1em;
    margin: auto 0;
    display: grid;
    gap: .2em;
    grid-template-rows: 1.1fr .5fr 2fr .5fr 1.1fr;
    align-items: center;
    min-height: 30ch;
    min-width: 24ch;

    &__pieces {
        display: flex;
        align-items: center;
        font-size: 1.2rem;

        &--upper {
            align-self: flex-end;
            grid-row: 1;
        }

        &--lower {
            align-self: flex-start;
            grid-row: 5;
        }
    }

    &__actions {
        grid-row: 3;
        display: flex;
        gap: .5em;
    }

    &__time {
        &--upper {
            align-self: flex-end;
            grid-row: 2;
        }

        &--lower {
            align-self: flex-start;
            grid-row: 4;
        }
    }
}

.icon-tie {
    font-size: 3rem;
}

.endgame-message {
    display: grid;
    gap: .5em;

    &__button {
        justify-content: center;
    }

    &__heading {
        font-weight: 400;
    }
}


.chess-board {
    &__row {
        display: flex;
    }

    &--pieces {
        position: absolute;
        transform: translateY(-100%);
    }
}