.chess-piece {
    touch-action: none;

    &--active {
        cursor: grab;
    }

    &--dragging {
        cursor: grabbing;
    }

    &--capture {
        cursor: pointer;
    }
}

.chess-tile {
    box-sizing: content-box;
    padding: .2em;

    &--black {
        background-color: var(--tile-black)
    }

    &--white {
        background-color: var(--tile-white)
    }

    &--last-move {
        background-color: rgba(16, 129, 21, 0.61);
    }

    &--capture {
        background-color: #34364C;
    }
}

.promotion-menu {
    position: fixed;
    padding: 1em;
    background-color: var(--alert-color);
    border-radius: 1em;
    right: 1em;
    top: 50vh;
    transform: translateY(-50%);
}

.game-wrapper {
    grid-column: 2;
}

.panel-wrapper {
    background-color: #1e1b4b;
    padding: 1em;
    border-radius: 1em;
    margin: auto 0;
    display: grid;
    gap: .2em;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    min-height: 30ch;
    min-width: 24ch;

    &__pieces {
        display: flex;
        align-items: center;
        font-size: 1.2rem;

        &--upper {
            align-self: flex-end;
            grid-row: 1;
        }

        &--lower {
            align-self: flex-start;
            grid-row: 5;
        }
    }

    &__actions {
        grid-row: 3;
        display: flex;
        gap: .5em;
    }

    &__time {
        &--upper {
            align-self: flex-end;
            grid-row: 2;
        }

        &--lower {
            align-self: flex-start;
            grid-row: 4;
        }
    }
}

.icon-draw {
    font-size: 2rem;
}


.chess-board {
    &__row {
        display: flex;
    }

    &--pieces {
        position: absolute;
        transform: translateY(-100%);
    }
}