html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    perspective: 900px;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #1e1b4b;
    --bg2-color: #312e81;
    --link-hover-color: #3730a3;
    --alert-color: #4338ca;
    --text-color: #eef2ff;
    --button-color: #4c1d95;
    --button-hover-color: #5b21b6;
    --red-color: #7f1d1d;
    --red-hover-color: #991b1b;
    --red-text-color: #dc2626;
    --green-text-color: #16a34a;
    --green-bg-color: #166534;
    --sure-color: #7c2d12;
    --sure-hover-color: #9a3412;
    --tile-black: #4f46e5;
    --tile-white: #e0e7ff;
    --piece-color-white: #eef2ff;
    --piece-color-black: #1e1b4b;
    --move-color: #16a34acc;
    color-scheme: light dark;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.header {
    margin: 0 30vw;
    padding: 1em;
}

.menu {
    margin: .5em 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
    justify-items: center;
}

@mixin button-style($font-size, $pad-topbottom, $pad-leftright, $border-radius, $gap) {
    border: none;
    border-radius: $border-radius;
    padding: $pad-topbottom $pad-leftright;
    font-size: $font-size;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: $gap;
    color: var(--text-color);
    font-weight: 700;
}

.button {
    @include button-style(1.5rem, .5em, .9em, .5em, .2em);
    background-color: var(--button-color);

    &:hover {
        background-color: var(--button-hover-color);
    }

    &--brb {
        background-color: var(--red-color);

        &:hover {
            background-color: var(--red-hover-color);
        }
    }
}

.link {
    @include button-style(1.5rem, .2em, .5em, .5em, .2em);
    background-color: inherit;
    text-decoration: none;

    &:hover {
        background-color: var(--link-hover-color);
    }

    &--sure {
        background-color: var(--sure-color);

        &:hover {
            background-color: var(--sure-hover-color);
        }
    }
}

.fieldset{
    border: none;
    padding: 1em;
    display: flex;
    gap: 1em;
}

.radio{
    display: none;
    &--styled{
        cursor: pointer;
        border-radius: 5em;
        padding: .5em;
        &:hover{
            background-color: var(--link-hover-color);
        }
    }
    &:checked + &--styled{
       background-color: var(--green-bg-color);
    }
}

.profile-name {
    font-weight: 700;
}

.profile-picture {
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
}

.pop-up {
    position: absolute;
    background-color: var(--bg-color);
    top: 2em;
    right: 25vw;
    padding: 1em;
    border-radius: 1em;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (prefers-color-scheme: light) {
    // :root { todo
    //     --bg-color: #ffffff;
    //     --text-color: #213547;
    // }
}

@media screen and (max-width: 80rem) {
    .header {
        margin: 0 15vw;
    }
}

@media screen and (max-width: 50rem) {
    .menu {
        grid-template-columns: 1fr 1fr;
        justify-items: left;
    }
}

@media screen and (max-width: 30rem) {
    .header {
        margin: 0;
    }
}
