html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

:root {
    --background-color: #242424;
    --alert-color: #1A1A1A;
    --text-color: rgba(255, 255, 255, 0.87);
    color-scheme: light dark;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: grey;
}

* {
    box-sizing: border-box;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.game-wrapper {
    margin: 1em auto;
}

.chess-board {
    &__row {
        display: flex;
    }

    &--pieces {
        position: absolute;
        transform: translateY(-100%);
    }
}

.alert {
    background-color: var(--background-color);
    color: var(--text-color);
}

.chess-piece {
    touch-action: none;

    &--active {
        cursor: grab;
    }

    &--dragging {
        cursor: grabbing;
    }

    &--capture {
        cursor: pointer;
    }
}

.chess-tile {
    box-sizing: content-box;
    padding: .2em;

    &--black {
        background-color: #B58863;
    }

    &--white {
        background-color: #F0D9B5;
    }

    &--selected {
        filter: hue-rotate(60deg);
    }

    &--capture {
        background-color: #34364C;
    }
}

.promotion-menu {
    position: fixed;
    padding: 1em;
    background-color: var(--alert-color);
    border-radius: 1em;
    right: 1em;
    top: 50vh;
    transform: translateY(-50%);
}


@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --text-color: #213547;
    }
}