.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

.button-block {
    width: 30ch;
    padding-top: 2em;

    &__button {
        &--brb {
            margin-top: 1em;
        }
    }
}
